@import "base/all-base";
@import "modules/all-modules";

.icon::before {
  display: inline-block;
  margin-right: .5em;
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

footer {
  text-align: center;
  background: rgba(0,0,0,0.2);
  padding: 20px;
  margin: 20px 0;
  color: white;
  font-weight: 100;
}


