.mobileMenu {
	position: absolute;
	display: block;
	top: 0;
	left: -1000px;
	// right: 0;
	background-color: crimson;
	width: 300px;
	height: 100%;
	z-index: 30;

	a {
		width: 70px;
		height: 70px;
		float: right;
		background-color: inherit;
	}
}