.l-navigation {
	// border: 1px solid crimson;

	&__mobileNav {
	  display: none;
	}

	display: flex;

	&__section {
		display: flex;
	}

	// logo section:
	&__section:nth-of-type(1) {
	  // background: burlywood;
		flex: 2 2 30%;
	}

	// site menu bar section:
	&__section:nth-of-type(2) {
	  // background: blueviolet;
		flex: 6 6 40%;
		justify-content: center;
	}

	// service menu bar section:
	&__section:nth-of-type(3) {
	  // background: darkmagenta;
		flex: 2 2 30%;
		justify-content: flex-end;
	}

	@media all and (max-width: 600px) { 
		&__section:nth-of-type(2) {
			display: none;
		}

		&__section:nth-of-type(3) {
			display: none;
		}

		&__mobileNav {
			display: block;
		  flex: 2 2 70%;
		  justify-content: flex-end;
		}
	}
}

