.siteContainer {
	
  max-width: 1000px;
  margin: 0 auto;

  @media all and (max-width:500px) {
    display:flex;
    flex-direction:column;

    /* Reorder items */
    & > * {
      order:999;
    }
  }
}

