.l-footer {
	// position: fixed;
 //  left: 0px;
 //  bottom: 0px;
  margin: 0;

  display: flex;

  &__section {
  	flex: 1 1 100%;
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: space-between;
  }

	// Placehoder section:
  &__section__01 {
  	flex: 1 4 100%;
    // background: white;
  }  

  // copyright etc. section:
  &__section__02 {
    // background: crimson;
    flex: 2 3 100%;
    align-items: center; 
  }  

  // Social section:
   &__section__03 {
    // background: cyan;
    flex: 1 4 100%;
    display: flex;
    justify-content: flex-end;
  }

  &__item:nth-of-type(1) {
    flex: 3 3 auto;
  }

  &__item:nth-of-type(2) {
  	// background: cyan;
  	flex: 1 1 auto;
  }

  &__item:nth-of-type(3) {
  	flex: 1 2 auto;
  }

  &__item:nth-of-type(4) {
    // background: green;
  	flex: 1 2 auto;
  }

  &__social {

  }
}

@media all and (max-width: 650px) {
	.l-footer {
		// position: relative;
    // border: 1px solid red;
    flex-direction: column;

    &__section__01 {
      display: none;
      // background: white;
    } 

    &__section__02 {
      // background: green;
      flex: 1 1 100%;
      align-items: center; 
    }  

    &__section__03 {
      // background: purple;
      flex: 1 1 100%;
      justify-content: center;
    } 
	}
}
