$brushed-metal-height2: 1170px;
$brushed-metal-width2: 1170px;
$cylinder-height2: 1170px;
$cylinder-width2: 1170px;


$chamber-container-wraper-height: 1210px;
$chamber-container-wraper-width: 1170px;

$chamber-container-height: 1170px;
$chamber-container-width: 1170px;

@mixin setBoxSize($width: 1170px, $height: 1210px, $factor) {
	$width: $width * $factor;
	$height: $height * $factor;

  width: $width ;
  height: $height;
}

/* Container with the brushed metail background */
.chamberContainerWraper {
	position: relative;

	margin-left: auto;
  margin-right: auto;

	$chamge-size-factor: 1;

	// width: 100%;
	// width: calc(#{$chamber-container-wraper-width} * #{$chamge-size-factor});
	// height: calc(#{$chamber-container-wraper-height} * #{$chamge-size-factor});

	@include setBoxSize(1170px, 1210px, 1.0);

	background: url("../images/black-brushed-metal.jpg") no-repeat center;
	background-size: cover;
}

.chamberContainer {
	position: absolute;
  list-style: none;
  padding: 0;
	top: 0;
	left: 0;

	width: $chamber-container-height;
	height: $chamber-container-width;

	// width: 970px;
	// height: 970px;

	margin-left: auto;
  margin-right: auto;

	// left: calc((#{$brushed-metal-width2} - #{$cylinder-width2})/2);

	background: url("../images/center-point.png") no-repeat center,
			url("../images/gun-chamber.png") no-repeat center;
	background-size: cover;
}

	@media all and (max-width:1170px) {
		$chamber-size-factor: 0.9;

		.chamberContainerWraper {
			// width: calc(#{$chamber-container-wraper-width} * #{$chamge-size-factor});
			// width: calc(#{$chamber-container-wraper-width} * #{$chamber-size-factor});
			// height: calc(#{$chamber-container-wraper-height} * #{$chamber-size-factor});

			@include setBoxSize(1170px, 1210px, 0.9);

		}

		.chamberContainer {
			// width: calc(#{$chamber-container-height} * #{$chamber-size-factor});
			// height: calc(#{$chamber-container-width} * #{$chamber-size-factor});

			@include setBoxSize(1170px, 1210px, 0.9);
			
		}
	}

.chamberCircle {
	display: block;
	position: absolute;
	width: 320px;
	height: 320px;

	&__image {
		border-radius: 50%;
		margin: 3px;
		max-widht: 100%;
		max-height: 100%;
	}
}

.chamberContainer > li:nth-of-type(1) {
	width: 340px;
	height: 340px;
	left: calc(1170px - 668px - 90px);
	top: calc(1170px - 1000px - 90px);

  transform: rotate(0deg);
}

.chamberContainer > li:nth-of-type(2) {
	left: calc(1170px - 350px - 90px);
	top: calc(1170px - 840px - 90px);

  transform: rotate(60deg);
}

.chamberContainer > li:nth-of-type(3) {
	left: calc(1170px - 350px - 90px);
	top: calc(1170px - 480px - 90px);

  transform: rotate(120deg);
}

.chamberContainer > li:nth-of-type(4) {
	left: calc(1170px - 668px - 70px);
	top: calc(1170px - 300px - 90px);

  transform: rotate(180deg);
}

.chamberContainer > li:nth-of-type(5) {
	left: calc(1170px - 960px - 90px);
	top: calc(1170px - 480px - 90px);

  transform: rotate(240deg);
}

.chamberContainer > li:nth-of-type(6) {
	left: calc(1170px - 960px - 90px);
	top: calc(1170px - 830px - 90px);

  transform: rotate(300deg);
}

