$brushed-metal-height2: 1170px;
$brushed-metal-width2: 1170px;
$cylinder-height2: 1170px;
$cylinder-width2: 1170px;

$chamber-container-wraper-height: 1210px;
$chamber-container-wraper-width: 1170px;

$chamber-container-height: 1170px;
$chamber-container-width: 1170px;

// @mixin chamberBoxDemension($factor, $width: 1170px, $height: 1210px) {
@mixin chamberBoxDemension($factor, $width: 1170px, $height: 1170px) {
	$width: $width * $factor;
	$height: $height * $factor;

  width: $width ;
  height: $height;
}

@mixin chamberCircleDemension($factor, $width: 300px, $height: 300px) {
	$width: $width * $factor;
	$height: $height * $factor;

  width: $width ;
  height: $height;
}

@mixin chamberCircleLocation($factor, $top, $left) {
	$top: (1170px - $top) * $factor;
	$left: (1170px - $left) * $factor;

	top: $top;
	left: $left;
}

/* Container with the brushed metail background */
.chamberContainerWraper {
	position: relative;

	margin-left: auto;
  margin-right: auto;

	@include chamberBoxDemension(1.0);

	background: url("../images/black-brushed-metal.jpg") no-repeat center;
	background-size: cover;

	.chamberSliderNav {
		position: absolute;
		top: 0;
		left: 0;
		// left: -300px;
		z-index: 20;

		&__arrow {
			display: block;
			background-color: darkgreen;
			width: 100px;
		}

		&__arrow--left {
			float: left;
		}

		&__arrow--right {
			float: right;
		}
	}

	.chamberNews {
		position: absolute;
		top: 60px;
		left: 0;
		// left: -300px;
		margin: 0;
		padding: 0;
		z-index: 20;

		&__panel {
			background-color: crimson;
			margin: 0;
			padding: 10px;
		}
	}
}

.chamberContainer {
	position: absolute;
  list-style: none;
  padding: 0;
	top: 0;
	left: 0;

	@include chamberBoxDemension(1.0, 1170px, 1170px);

	margin-left: auto;
  margin-right: auto;

	background: url("../images/gun-chamber.png") no-repeat center;
	background-size: cover;
	// background: url("../images/center-point.png") no-repeat center,
	// 		url("../images/gun-chamber.png") no-repeat center;
}

.chamberCircle {
	display: block;
	position: absolute;

	@include chamberCircleDemension(1.0);

	&__image {
		border-radius: 50%;
		margin: 3px;
		max-width: 100%;
		max-height: 100%;
		opacity: .5;

		&:hover {
			opacity: 1;
		}
	}
}

.chamberContainer > li:nth-of-type(1) {
	@include chamberCircleDemension(1.0, 340px, 340px);

	@include chamberCircleLocation(1.0, 1088px, 758px);

  transform: rotate(0deg);
}

.chamberContainer > li:nth-of-type(2) {
	@include chamberCircleLocation(1.0, 915px, 431px);

  transform: rotate(60deg);
}

.chamberContainer > li:nth-of-type(3) {
	@include chamberCircleLocation(1.0, 563px, 428px);

  transform: rotate(120deg);
}

.chamberContainer > li:nth-of-type(4) {
	@include chamberCircleLocation(1.0, 380px, 730px);

  transform: rotate(180deg);
}

.chamberContainer > li:nth-of-type(5) {
	@include chamberCircleLocation(1.0, 558px, 1038px);

  transform: rotate(240deg);
}

.chamberContainer > li:nth-of-type(6) {
	@include chamberCircleLocation(1.0, 910px, 1040px);

  transform: rotate(300deg);
}

@media all and (max-width:1170px) {
	.chamberContainerWraper {
		@include chamberBoxDemension(0.8);
	}

	.chamberContainer {
		@include chamberBoxDemension(0.8);
	}

	.chamberCircle {
		@include chamberCircleDemension(0.8);
	}

	.chamberContainer > li:nth-of-type(1) {
		@include chamberCircleDemension(0.8, 340px, 340px);
		@include chamberCircleLocation(0.8, 1090px, 758px);
	}

	.chamberContainer > li:nth-of-type(2) {
		@include chamberCircleLocation(0.8, 910px, 426px);
	}

	.chamberContainer > li:nth-of-type(3) {
		@include chamberCircleLocation(0.8, 564px, 424px);
	}

	.chamberContainer > li:nth-of-type(4) {
		@include chamberCircleLocation(0.8, 382px, 730px);
	}

	.chamberContainer > li:nth-of-type(5) {
		@include chamberCircleLocation(0.8, 560px, 1042px);
	}

	.chamberContainer > li:nth-of-type(6) {
		@include chamberCircleLocation(0.8, 900px, 1044px);
	}
}

@media all and (max-width:950px) {
	.chamberContainerWraper {
		@include chamberBoxDemension(0.7);
		// border: 1px solid red;
	}

	.chamberContainer {
		// border: 1px solid white;
		margin: 0;
		@include chamberBoxDemension(0.7);
	}

	.chamberCircle {
		@include chamberCircleDemension(0.7);
	}

	.chamberContainer > li:nth-of-type(1) {
		@include chamberCircleDemension(0.7, 340px, 340px);
		@include chamberCircleLocation(0.7, 1086px, 758px);
	}

	.chamberContainer > li:nth-of-type(2) {
		@include chamberCircleLocation(0.7, 904px, 418px);
	}

	.chamberContainer > li:nth-of-type(3) {
		@include chamberCircleLocation(0.7, 564px, 418px);
	}

	.chamberContainer > li:nth-of-type(4) {
		@include chamberCircleLocation(0.7, 380px, 730px);
	}

	.chamberContainer > li:nth-of-type(5) {
		@include chamberCircleLocation(0.7, 560px, 1040px);
	}

	.chamberContainer > li:nth-of-type(6) {
		@include chamberCircleLocation(0.7, 900px, 1040px);
	}
}
