footer {
  text-align: center;
  background: rgba(0,0,0,0.2);
  padding: 20px;
  margin: 20px 0;
  color: white;
  font-weight: 100;
}

@media all and (max-width: 500px) {

	.mobileFooter {
	  width: 100%;
	  
	  &__menu {
	  	border-top: 1px solid #E6E6E6;
	  	text-align: center;
	  	padding: 1.5rem;
	  	border-left: 1px solid rgba(0,0,0,0.1);
	  	background: #fac43d;
	  	color: rgba(0,0,0,0.5);
	  }

	  & i {
	    display: block;
	    font-size: 2.5rem;
	    color: #000;
	    text-shadow: 3px 3px 0 rgba(0,0,0,0.1);
	    padding-bottom: 1rem;
	  }
	}

	.mobileFooter a:first-child {
	  border-left: 0;
	}
}