.navigation {
	// border: 1px solid Crimson;
  min-width: 100%;
  margin: 0;
  padding: 0;
}

.siteNav {
  // border: 1px solid black;
	background: #003380;

  list-style: none;
  margin: 0;
  padding: 0;
}



 

 
